@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Kay+Pho+Du:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

#fade,

.randon-button {
  opacity: 0;
}

#fade {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
}

.header {
  background-color: #00d2f7;
  padding-inline: 16px;
}

.nav {
  max-width: 1500px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 85px;
  height: 70px;
  margin-top: 8px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}
.hero {
  height: calc(100vh - 70px);
  background-color: #f7f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-texts {
  display: flex;
  width: 44%;
  height: 60%;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}

.title-text {
  font-size: 24px;
  
}
.apresentation-text {
  font-size: 18px;
}
.recommendation-text {
  font-size: 24px;
}

.player-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.video-youtube {
  width: 700px;
  height: 430px;
}

@media (max-width: 1400px) {
  #modal {
    top: 60px;
    right: 0;
  }
}

@media (max-width: 750px) {
    .all-texts {
        display: flex;
        height: 60%;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
    }

  .title-text {
    font-size: 22px;
  }
  .apresetation-text {
    font-size: 15px;
  }
  .recommendation-text {
    font-size: 22px;
  }

  .player-container {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
  }

  .video-youtube {
    width: 96%;
    height: 430px;
  }

  .hamburguer {
    display: block;
    z-index: 2;
  }
  #modal {
    right: 32%;
    top: 26.5%;
    border-radius: 5% 5% 5% 5%;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #07753a;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    display: flex;
    pointer-events: none;
    z-index: 1;
  }

  .nav-list a {
    font-size: 30px;
    opacity: 0;
  }
  .foto-nav,
  .foto-nav-container {
    opacity: 0;
    width: 9rem;
    height: 9rem;
  }

  .nav-list .foto-nav-container:nth-child(3) {
    transition: 0.5s 0.2s;
  }
  .nav-list .foto-nav:nth-child(4) {
    transition: 0.5s 0.2s;
  }
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .nav-list {
    clip-path: circle(2500px at 90% -15%);
    pointer-events: all;
  }
  .nav.active .nav-list a {
    opacity: 1;
  }
  .nav.active .nav-list .foto-nav {
    opacity: 1;
  }
  .nav.active .nav-list .foto-nav-container {
    opacity: 1;
  }

  .nav.active .hamburguer {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburguer::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .foto-nav-perfil,
  .foto-nav-container-perfil {
    z-index: 0;
  }
}
.text-logo {
  font-size: 50px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;


}